/home/lainofthewired/survey/database.db
database.db
database.py
config_file.cfg
/Users/mandywoo/Documents/survey_project/survey/database.db
/Users/mandywoo/Documents/survey_project/survey/config_file.cfg
.env
