<!doctype html>
<html>
    <body>
        <pr>
            Frenship Survey<br>
            This is a copy of the responses.
        </pr>
        <pre>
            Name
            {{ans_row["first_name"]}} {{ans_row["last_name"]}}
            Email
            {{ans_row["email"]}}
            Phone
            {{ans_row["phone_number"]}}

            Questions
            {{ques_row["question_1"]}}
            - {{ans_row["question_1"]}}
            {{ques_row["question_2"]}}
            - {{ans_row["question_2"]}}
            {{ques_row["question_3"]}}
            - {{ans_row["question_3"]}}
            {{ques_row["question_4"]}}
            - {{ans_row["question_4"]}}
            {{ques_row["question_5"]}}
            - {{ans_row["question_5"]}}
            {{ques_row["question_6"]}} 
            - {{ans_row["question_6"]}}
            {{ques_row["question_7"]}}
            - {{ans_row["question_7"]}}
            {{ques_row["question_8_r1"].split(': ')[0]}}:
            {{ques_row["question_8_r1"].split(': ')[1]}}
            - {{ans_row["question_8_r1"]}}
            {{ques_row["question_8_r2"].split(': ')[1]}}
            - {{ans_row["question_8_r2"]}}
            {{ques_row["question_8_r3"].split(': ')[1]}}
            - {{ans_row["question_8_r3"]}}
            {{ques_row["question_8_r4"].split(': ')[1]}}
            - {{ans_row["question_8_r4"]}}
            {{ques_row["question_9"]}}
            - {{' '.join(ans_row["question_9"].split('T'))}}
            {{ques_row["question_10"]}}
            - {{ans_row["question_10"]}}
        </pre>
    </body>
</html>