<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='password.css')}}" type="text/css" media="screen" charset="utf-8"/>
    </head>
    <body>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <form onSubmit="return checkAnswer();">
                        <input id="answer" type="password" maxlength="20" class="box" placeholder='Password' autofocus />
                        <input type="submit" class="SUBMIT" style="display:none"/>
                    </form>
                    <script>
                        function checkAnswer(){
                            var response = document.getElementById('answer').value;
                            if (response == "fren"){
                                location = '/surveyf'
                            } else if (response == "girlfren") {
                                location = '/surveygf'
                            }
                            return false;
                        }
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>