<!doctype html>
<html>
    <body>
        <pr>
            Relationship Survey<br>
            This is a copy of your responses.
        </pr>
        <pre>
            Name
            {{ans_row["first_name"]}} {{ans_row[last_name]}}
            Email
            {{ans_row["email"]}}
            Phone
            {{ans_row["phone_number"]}}

            Questions
            {{ques_row["question_1"]}}
            - I am great because I have you as a gf.
            {{ques_row["question_2"]}}
            - It is so great and I am thankful for it everyday.
            {{ques_row["question_3"]}}
            - Absolutely nothing, you are perfect.
            {{ques_row["question_4"]}}
            - I can improve on being a better gf.
            {{ques_row["question_5"]}}
            - I wish we talked more.
            {{ques_row["question_6"]}} 
            - I can't pick just three, every moment has been amazing.
            {{ques_row["question_7"]}}
            - I wish we could hang out more.
            {{ques_row["question_8_r1"].split(': ')[0]}}:
            {{ques_row["question_8_r1"].split(': ')[1]}}
            - 10
            {{ques_row["question_8_r2"].split(': ')[1]}}
            - 10
            {{ques_row["question_8_r3"].split(': ')[1]}}
            - 10
            {{ques_row["question_8_r4"].split(': ')[1]}}
            - 10
            {{ques_row["question_8_r5"].split(': ')[1]}}
            - 10
            {{ques_row["question_9"]}}
            - {{' '.join(ans_row["question_9"].split('T'))}}
            {{ques_row["question_10"]}}
            - I love you :) 
        </pre>
    </body>
</html>